.textBox {
  width: 95%;
  font-size: 15px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.textBox:focus {
  outline: none;
  box-shadow: inset 0 0 4px rgb(0,0,0,0.4);
}

.todoDescriptionText {
  flex: 1;
  font-size: 15px;
  resize: none;
}

.doneButton {
  font-size: 0.8em;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  background-color: var(--secondary-orange);
  color: white;
  transition: box-shadow 0.2s;
}

.doneButton:hover {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.doneButton:active {
  box-shadow: none;
}