.createToDoTitle {
  color: white;
  font-size: 20px;
}

.textBox {
  width: 95%;
  font-size: 15px;
  padding: 8px;
  border-radius: 6px;
  border: none;
}

.textBox:focus {
  outline: none;
  box-shadow: inset 0 0 4px rgb(0,0,0,0.4);
}

.todoDescriptionText {
  flex: 1;
  font-size: 15px;
  resize: none;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.buttonsContainer button {
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  background-color: white;
  width: 40%;
}

.buttonsContainer button:hover {
  background-color: var(--secondary-grey);
}