.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-grey);
  padding: 0.6em 1.4em;
}

.left-section {
  font-size: 20px;
  font-weight: bold;
}

.logout-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  font-size: 1em;
  font-weight: bold;
}

.logout-button:hover {
  color: var(--tooltip-grey);
}