.todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  color: white;
  font-size: 20px;
}

.todoHeader button {
  display: flex; /* to align the tooltip to the center of the button */ 
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: none;
  position: relative;
}

.createTodoButton {
  background-image: url("../icons/add_item_icon.png");
  background-size: contain;
  height: 20px;
  width: 20px;
  background-color: var(--main-orange);
}

.backButton {
  background-color: var(--main-orange);
  background-image: url("../icons/close_button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 14px;
  width: 14px;
  border: none;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  bottom: -36px;
  background-color: var(--tooltip-grey);
  color: white;
  padding: 8px 12px;
  width: 80px;
  border-radius: 6px;
  opacity: 0.8;
  visibility: hidden;
  z-index: 10;
}

.todoHeader button:hover .tooltip {
  visibility: visible;
}