.todoCard {
  display: flex;
  align-items: center;
  height: 5vh;
}

.todoButton {
  line-height: 5vh;
  border: 2px solid var(--secondary-grey);
  border-radius: 8px;
  width: 100%;
  height: inherit;
  cursor: pointer;
  padding-left: 12px;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todoButton:hover {
  background-color: rgb(228, 228, 228);
}

.todoCheckbox {
  margin-right: 12px;
}