.todoSection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 6px;
  height: 40vh;
  width: 15vw;
  padding: 12px;
  background-color: var(--main-orange);
}